<header class="fixed w-full h-auto bg-white">
    <div class="flex items-center justify-around mx-auto py-4">
        <h2>Hotelaria</h2>

        <ul class="hidden md:flex items-center gap-8">
            <a href="#" class="font-semibold"><li>Home</li></a>
            <a href="#" class="font-semibold"><li>Sobre Nós</li></a>
            <a href="#" class="font-semibold"><li>Promoções</li></a>
        </ul>

        <span class="block md:hidden cursor-pointer material-symbols-outlined">
            menu
        </span>
    </div>
</header>