<main class="h-screen w-screen flex items-center text-white">
  <div
    class="w-full absolute md:hidden top-0 h-10 px-1 py-4 text-black z-20 material-symbols-outlined cursor-pointer"
    translate="no"
    (click)="menuToggleHandler()"
  >
    menu
  </div>
  <section
    class="absolute md:relative top-0 h-full w-64 bg-[#7386D5] block overflow-hidden"
    *ngIf="menuToggle"
  >
    <header class="w-full h-14 flex items-center justify-center bg-[#6D7FCC]">
      <h2 class="text-xl font-bold">Administração</h2>
    </header>

    <section class="w-full h-full pt-4 font-serif">
      <ul class="grid">
        <li class="w-full bg-[#6D7FCC] border-b border-b-slate-400 py-1">
          <a class="pl-4" href="">Home</a>
        </li>

        <li class="w-full grid gap-[9px] py-2 border-b border-b-slate-400 bg-[#6D7FCC]">
          <a class="pl-4" href="">Hóspedes/Quartos</a>
          <ul class="grid bg-[#7386D5]">
            <li class="text-sm cursor-pointer pl-8 py-2">Hóspedes Cadastrados</li>
            <li class="text-sm cursor-pointer pl-8 py-2">Quartos Disponiveis</li>
          </ul>
        </li>

        <li class="w-full grid gap-[9px] py-2 border-b border-b-slate-400 bg-[#6D7FCC]">
          <a class="pl-4" href="">Funções</a>
          <ul class="grid bg-[#7386D5]">
            <li class="text-sm cursor-pointer pl-8 py-2">Dar baixa</li>
            <li class="text-sm cursor-pointer pl-8 py-2">Pedidos</li>
            <li class="text-sm cursor-pointer pl-8 py-2">Soliçitação de mudança de quarto</li>
          </ul>
        </li>

        <li class="w-full bg-[#6D7FCC] py-2">
          <a class="pl-4" href="">Funcionários</a>
        </li>

        <li class="w-full bg-[#6D7FCC] border-b border-b-slate-400 py-2">
          <a class="pl-4" href="">Suporte</a>
        </li>
      </ul>
    </section>
  </section>
  <section></section>
</main>
