<header class="fixed w-full h-auto bg-white">
    <div class="flex items-center justify-between relative md:mx-16 py-4">
        <h2 class="font-bold text-2xl font-mono ml-4 md:ml-0">Hotelaria</h2>

        <ul class="absolute grid bg-white w-screen md:w-2/5 h-auto mt-[64px] pb-8 md:pb-0 md:mt-0 md:relative md:flex justify-center md:justify-between items-center text-center top-0 gap-6"
            *ngIf="menu">
            <div class="grid md:flex justify-center gap-4 md:gap-8 font-mono">
                <a routerLink="/"class="font-semibold text-base md:text-lg">
                    <li>Home</li>
                </a>
                <a href="#" class="font-semibold text-base md:text-lg">
                    <li>Sobre</li>
                </a>
                <a href="#" class="font-semibold text-base md:text-lg">
                    <li>Promoções</li>
                </a>
                <a href="#" class="font-semibold text-base md:text-lg">
                    <li>COVID</li>
                </a>
            </div>

            <div>
                <a routerLink="/login">
                    <button
                        class="bg-blue-600 px-28 py-[4px] md:px-6 md:py-1 rounded-2xl text-white md:opacity-90 hover:opacity-100"
                        translate="no"
                        >
                        Login
                    </button>
                </a>
            </div>
        </ul>

        <span class="block md:hidden cursor-pointer material-symbols-outlined mr-4 md:mr-0" translate="no" (click)="menuToogle()">
            menu
        </span>
    </div>
</header>