<main class="w-full h-screen flex items-center justify-center pt-[64px] text-white">
    <div class="grid gap-16 h-[58%]">
        <div class="block text-center">
            <h1 class="text-3xl md:text-7xl font-semibold">Bem vindo ao Hotelaria</h1>
            <h3 class="text-base md:text-xl font-medium">Suas melhores lembrança estão aqui</h3>
        </div>

        <div class="w-full h-auto md:h-32 mt-[20.5rem] md:mt-[8.5rem] bg-white text-black rounded-xl">
            <div class="py-8 px-8">
                <form class="w-full block gap-5 md:flex items-end justify-between">
                    <div class="grid gap-2 mb-2 md:mb-0">
                        <label>Localização</label>
                        <input type="text" class="w-full md:w-[11.375rem] border border-zinc-400 outline-none py-1 px-2 rounded-lg">
                    </div>

                    <div class="grid gap-2 mb-2 md:mb-0">
                        <label>Data de Check-In</label>
                        <input type="date" class="w-full md:w-[10.125rem] border border-zinc-400 outline-none py-1 px-2 rounded-lg">
                    </div>

                    <div class="grid gap-2 mb-4 md:mb-0">
                        <label>Hóspedes</label>
                        <input type="number" class="w-full md:w-[11.375rem] border border-zinc-400 outline-none py-1 px-2 rounded-lg">
                    </div>

                    <button class="bg-blue-600 w-full py-[6px] md:px-4 md:py-[7px] rounded-2xl md:rounded-lg text-white md:opacity-90 hover:opacity-100">
                        Reserve agora
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

<section class="w-full h-screen">

</section>