.google, .facebook, .apple{
    background-size: cover;
}

.google{
    background: url(./assets/img/google.svg) no-repeat;
}

.facebook{
    background: url(./assets/img/facebook.svg) no-repeat;
}

.apple{
    background: url(./assets/img/apple.svg) no-repeat;
}

main{
    background-attachment: inherit!important;
}